@import "social-icon.css";
@import "typography.css";
@import "header.css";
@import "footer.css";
@import "blogs.css";
@import "discover.css";

.main-content {
    display: flex;
    justify-content: center;
    padding: 60px 0 20px;
}

.blogs-tags {
    max-width: 1280px;
    margin: 0 64px;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-areas:
    "blogs discover";
    justify-content: center;
    column-gap: 50px;
}

.blog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: blogs;
    gap: 10px;
}

.discover {
    grid-area: discover;
}

